#!/usr/bin/env bash
################################################################################
# This is property of eXtremeSHOK.com
# You are free to use, modify and distribute, however you may not remove this notice.
# Copyright (c) Adrian Jon Kriel :: admin@extremeshok.com
################################################################################
#
# Script updates can be found at: https://github.com/extremeshok/xshok-proxmox
#
################################################################################
#
# User Defined Options for (install-post.sh) post-installation script for Proxmox
#
# Usage: place in the same folder as install-post.sh and rename to xs-install-post.env
#
#### VARIABLES
#
# yes = enabled
# no = disabled
#
XS_AMDFIXES="yes"
XS_APTUPGRADE="yes"
XS_BASHRC="yes"
XS_CEPH="yes"
XS_DISABLERPC="yes"
XS_NOENTREPO="yes"
XS_ENTROPY="yes"
XS_FAIL2BAN="yes"
XS_GUESTAGENT="yes"
XS_IFUPDOWN2="yes"
XS_JOURNALD="yes"
XS_KERNELHEADERS="yes"
XS_KEXEC="yes"
XS_KSMTUNED="yes"
XS_LANG="en_US.UTF-8"
XS_LIMITS="yes"
XS_LOGROTATE="yes"
XS_MAXFS="yes"
XS_MEMORYFIXES="yes"
XS_MOTD="yes"
XS_NET="yes"
XS_NOSUBBANNER="yes"
XS_OPENVSWITCH="no"
XS_OVHRTM="yes"
XS_PIGZ="yes"
XS_SWAPPINESS="yes"
XS_TCPBBR="yes"
XS_TCPFASTOPEN="yes"
XS_TCPFASTOPEN="yes"
XS_TIMESYNC="yes"
XS_TIMEZONE="" #empty = set automatically by ip
XS_VZDUMP="yes"
XS_ZFSARC="yes"
XS_ZFSAUTOSNAPSHOT="yes"
